.map {
    height: 500px; 
}

.leaflet-marker-pane {
    animation: pulsate 1s ease-in-out 3;
    animation-direction: alternate, reverse, normal;
}

@keyframes pulsate {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}