.layout {
  display: flex;
  flex-direction: row-reverse;
}

.main-content {
  width: calc(100% - 300px);
}

.sidebar {
  width: 300px;
}

.dashboard {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 115px;
}

.dashboard-title {
  font-size: 22px;
  color: #4e4e4e;
}

.profile {
  display: flex;
  align-items: center;
}

.upload-file {
  background: transparent;
  display: block;
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.input-file {
  display: none!important;
}

.btn-logout {
  font-size: 14px;
  max-width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  background: #41A6F1;
  color: rgb(255, 255, 255);
  line-height: 40px;
  border-width: 0;
  text-decoration: none;
  border-radius: 35px;
  padding: 0 25px;
  margin-left: 35px;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  outline: none;
}

.upload-photos {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 8px 25px;
  margin-right: 25px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.upload-icon {
  background: url('../../source/folder-upload.svg') no-repeat center/contain;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 15px;
}

.upload-photos-label {
  font-size: 14px;
  font-weight: 600;
  color: #565656;
}

.upload-loading {
  background: url('../../source/loader.gif') no-repeat center/contain;
  width: 18px;
  height: 18px;
  margin-left: 10px;
}
