*{
  box-sizing: border-box;
}

.uploader{
    position: absolute;
    top: 9.3%;
    background: #fff;
    width: 100%;
    overflow: auto;
    height: calc(90.7vh);
    margin: 0 auto;
    border: 2px solid black;
    z-index: 1000000;
  }
  
  .images{
    margin-top: 70px;
    flex-basis: 100%
  }
  
  .images img{
    width: 175px;
    height: 175px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  #upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background: url('Upload.svg') no-repeat center center ,#e0f2f7;
    background-size: 50% 50%;
    font-family: 'Segoe UI';
    color: #1f3c44;
  }
  
  #upload-container label {
    font-weight: bold;
  }
  
  #upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  #upload-container div {
    position: relative;
    z-index: 10;
  }
  
  #upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
  }
  
  #upload-container input[type=file]:focus + label {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  #upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
  }

  #close-uploader{
    position: absolute;
    font-size: 24px;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
#close-uploader:hover#close-uploader {
    opacity: 0.5;
}

#close-uploader:active#close-uploader {
    cursor: grabbing
}