.auth {
  width: 475px;
  margin: 50px auto 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 35px 0 0;
}

.auth-title {
  font-size: 22px;
  color: #8e8e8e;
  text-align: center;
  margin-bottom: 25px;
}

.auth-fields {
  padding: 0 55px;
}

.auth-field {
  position: relative;
  margin-bottom: 20px;
}

.field {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  background: #FCFBFC;
  outline: none;
}

.field:focus {
  border-color: #41A6F1;
  background: #fff;
}

.field.is-error {
  border-color: rgb(222, 53, 11);
}

.error-server {
  font-size: 12px;
  color: rgb(222, 53, 11);
  text-align: center;
  margin-top: 15px;
  padding: 0 55px;
}

.auth-button {
  margin-top: 25px;
  padding: 0 55px;
}

.button-send {
  display: inline-flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  width: 150px;
  color: rgb(255, 255, 255);
  height: 50px;
  line-height: 39px;
  border-width: 0;
  text-decoration: none;
  border-radius: 30px;
  padding: 0 8px;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  outline: none;
}

.button-send:enabled {
  background: #41A6F1;
  cursor: pointer;
}

.button-send:disabled {
  background-color: #cecece;
  cursor: default;
}

.account {
  font-size: 12px;
  color: #b7b7b7;
  margin-left: 10px;
}

.auth-link {
  font-size: 13px;
  color: #41A6F1;
}

.field-valid {
  position: absolute;
  top: calc(50% - (15px / 2));
  left: -25px;
  display: block;
  width: 15px;
  height: 15px;
  background: url('../../source/checked.svg') no-repeat center/contain;
}

.text-error {
  font-size: 12px;
  color: rgb(222, 53, 11);
  position: absolute;
  left: 20px;
  bottom: -20px;
  display: block;
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.auth-socials {
  position: relative;
  padding: 35px 0;
  margin-top: 65px;
  border-top: 1px solid rgba(150, 150, 150, 0.1);
}

.auth-socials::before {
  content: "OR";
  position: absolute;
  left: calc(50% - (32px / 2));
  top: -16px;
  font-size: 10px;
  font-weight: 600;
  color: #41A6F1;
  text-align: center;
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.auth-social-button {
  font-size: 16px;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 235px;
  width: 100%;
  padding: 12px;
  margin: 0 auto;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.15s;
  cursor: pointer;
  box-shadow: 0 0 8px 1px rgba(82, 82, 82, 0.1);
}

.icon-gpl {
  background: url("../../source/g-pl.svg") no-repeat center/contain;
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
